{% extends "base.html" %}

{% block title %} 
Inicio
{% endblock %} 

{% block content %}

<div class="container mx-auto">
    <div class="relative rounded-lg shadow-2xl bg-pink-900 overflow-hidden sm:rounded-3xl sm:px-8 lg:flex">
        <div class="lg:w-1/2">
            <img class="w-full h-auto lg:h-full object-cover" src="{{ url_for('static', filename='pink.jpg') }}" alt="Pink wallpaper">
        </div>
        <div class="py-12 px-6 lg:px-12 lg:w-1/2">
            <h2 class="text-3xl font-bold tracking-tight text-pink-300 sm:text-4xl">¡Bienvenido a Agos MiniBlog!</h2>
            <p class="mt-6 text-lg leading-7 text-gray-300">
                En este blog podrás encontrar estas categorías:
            </p>
            <ul class="mt-4 text-base leading-6 text-gray-400">
                {% for categoria in categorias %}
                <li>{{ categoria.nombre }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="aspect-w-16 aspect-h-9 max-w-md mx-auto">
            <video class="w-full h-full" controls>
                <source src="{{ url_for('static', filename='video.mp4') }}" type="video/mp4">
            </video>
        </div>
    </div>
</div>
{% endblock %}
