{% extends "base.html" %}

{% block title %} 
Post
{% endblock %} 

{% block content %}
<div class="bg-white rounded-lg shadow-md p-8 max-w-4xl mx-auto mt-8">
    <h1 class="text-3xl font-bold mb-4">{{ post.titulo }}</h1>
    <p class="text-gray-500 text-sm mb-2">Autor: {{ post.usuario.username }}</p>
    <p class="text-gray-500 text-sm mb-4">Fecha de creación: {{ post.fecha_creacion.strftime('%d/%m/%Y %H:%M:%S') }}</p>
    <p class="text-gray-700">{{ post.contenido }}</p>
    <h2 class="text-2xl font-bold mt-8 mb-4">Comentarios</h2>
    <ul>
        {% for comentario in post.comentarios %}
        <li class="border-t border-gray-300 py-4">
            <div class="bg-pink-100 border border-pink-200 rounded-lg px-4 py-2">
                <p class="text-pink-600">{{ comentario.texto }}</p>
                <p class="text-xs text-pink-500 mt-1">Fecha de creación: {{ comentario.fecha_creacion.strftime('%d/%m/%Y %H:%M:%S') }}</p>
                <p class="text-xs text-pink-500">Autor: {{ comentario.autor.username }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('comentar', post_id=post.id) }}" method="post" class="mt-8">
        <label for="comentario" class="block font-semibold text-gray-700">Agregar comentario:</label>
        <textarea id="comentario" name="comentario" rows="4" cols="50" class="w-full border rounded-md py-2 px-3 mt-2 focus:outline-none focus:ring focus:border-blue-500"></textarea>
        <input type="submit" value="Comentar" class="mt-4 bg-pink-600 text-white px-4 py-2 rounded-md hover:bg-pink-700 focus:outline-none focus:ring focus:border-blue-500">
    </form>
    <div class="mt-8">
        <a href="{{ url_for('posteos') }}" class="text-pink-600 font-semibold">Volver a la lista de posteos</a>
    </div>
</div>
{% endblock %}
